<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../asset/favicon.ico"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <style>
        img.card-img-top {
            height: 150px;
            object-fit: cover;
        }

    </style>

    <title>Computer Store</title>
</head>
<body>
<main>
    <header class="row">
        <div class="col">
            <div th:replace="home/fragments/header :: header"></div>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <div th:replace="home/fragments/slide :: slides"></div>
        </div>
    </div>
    <div class="container">
        <section class="h-100 h-custom">
            <div class="container h-100 py-5">
                <h1 th:if="${session.orderSession == null }" th:text="| cart is empty|" class="text-center"></h1>
                <div class="row d-flex justify-content-center align-items-center h-100">


                    <div class="col">
                        <div>

                        </div>

                        <div class="table-responsive" th:if="${session.orderSession != null}">
                            <h3 class="text-center"> Shopping Bag</h3>
                            <table class="table">
                                <thead>

                                <tr>
                                    <th></th>
                                    <th scope="col" class="text-center">Product Name</th>
                                    <th scope="col" class="text-center">Brand</th>
                                    <th scope="col" class="text-center">Price</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col" class="text-center">Total Price</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each=" orderItem : ${session.orderSession}">
                                    <td>
                                        <div class="d-flex ">
                                            <img th:src="${orderItem.getValue().getProduct().getProductImageLink()}"
                                                 class="img-fluid rounded-3"
                                                 style="width: 120px;" alt="Book">

                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <div class="flex-column ms-4 align-middle">
                                            <p class="mb-2 text-center"
                                               th:text="${orderItem.getValue().getProduct().getProductName()}"></p>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0 text-center" style="font-weight: 500;"
                                           th:text="${orderItem.getValue().getProduct().getBrand()}"></p>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0 text-center" style="font-weight: 500;"
                                           th:text="${orderItem.getValue().getProduct().getProductPrice()}"></p>
                                    </td>
                                    <td class="align-middle">
                                        <div class="d-flex flex-row justify-content-between">
                                            <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <input id="inputQuantity" min="0" name="quantity"
                                                   th:value="${orderItem.getValue().getQuantityOrder()}" type="number"
                                                   class="form-control form-control-sm text-center"
                                                   style="width: 50px;"/>

                                            <button class="btn btn-link px-2"
                                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500;"
                                           th:text="${orderItem.getValue().getQuantityOrder() * orderItem.getValue().getProduct().getProductPrice() + ' 円'}"></p>
                                    </td>
                                    <td class="align-middle">
                                        <i class="far fa-edit btnOrder btn btn-light "
                                           th:data-id="${orderItem.getValue().getProduct().getProductId()}"></i>
                                    </td>
                                    <td class="align-middle">
                                        <a class="btn btn-light"
                                           th:href="@{/deleteOrder(productId=${orderItem.getValue().getProduct().getProductId()})}"><i
                                                class="fas fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-3">
                                        <p class="mb-2 text-center">Total Quantity</p>
                                    </td>
                                    <td class="col-3">
                                        <p class="mb-2 text-center" th:text="${session.totalQuantityOrderSession}"></p>
                                    </td>
                                    <td class="col-3">
                                        <span class="text-center">total Price</span>
                                    </td>
                                    <td class="col-3">
                                        <span class="text-center" th:text="${session.totalPriceSession + '　円'}"></span>
                                    </td>


                                </tr>

                                </tbody>
                            </table>
                            <div class="text-center">
                                <a th:href="@{/checkout}" class="btn btn-dark">Payment</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>

    </script>
    <footer class="row">
        <div class="col">
            <div th:replace="home/fragments/footer:: footer"></div>
        </div>
    </footer>
</main>
<script>
    $(document).ready(function () {
        $(".btnOrder").click(function () {
            var productId = $(this).attr("data-id");
            var quantityOrder = $("#inputQuantity").val();
            window.location = "UpDateOrder?productId=" + productId + "&quantity=" + quantityOrder
        });
    });
</script>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->

<!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
<!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
></script> -->

<!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
</body>
</html>


