<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{home/fragments/header :: header}">
<head>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/}">Computer Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <div class="w-75">
                    <ul class="navbar-nav justify-content-around">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>
                        <li class="nav-item"><a th:href="@{/cart}" class="nav-link">Cart</a></li>
                        <li class="nav-item"><a th:href="@{/checkout}" class="nav-link" >Check Out</a></li>
                        <li class="nav-item"><a th:if="${session.user != null}"
                                                th:href="@{/userDetail(userName=${session.user.getEmail()})}"
                                                class="nav-link" href="">My account</a></li>
                        <li class="nav-item"><a th:if="${session.user == null}" th:href="@{/login}" class="nav-link"
                                                href="">Login</a></li>
                        <li class="nav-item"><a th:if="${session.user != null}" th:href="@{/logout}" class="nav-link"
                                                href="">Log Out</a></li>

                    </ul>
                </div>
                <form class="d-flex" th:action="@{/cart}" method="get">
<!--                    <a th:href="@{/cart}"></a>-->
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fas fa-cart-plus"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill" th:if="${session.orderSession!= null}"
                              th:text="${session.totalQuantityOrderSession}"></span>
                    </button>
<!--                    </a>-->
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>