<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home/fragments/slide:: slides}">
<head>
</head>
<body>
<div th:fragment="slides">
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">

        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img class="d-block w-100 card-img-top " style="height: 300px;" alt="Sunset Over the City"
                     src="../../img/MacBookPro_M2_preorder_880x220.jpg"/>
                <div class="carousel-caption d-none d-md-block">

                    <a th:href="@{/brand/Apple}">
                        <button class="btn btn-light"> shop Now</button>
                    </a>
                </div>
            </div>

            <!-- Single item -->

        </div>
        <!-- Inner -->

        <!-- Controls -->

    </div>
</div>
</body>
</html>